/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-card: 'Inter-Variable';
    --font-accent: 'PressStart2P';
    --card-text-color: #000000;
    --font-weight-card: 400;
    --font-weight-heading:700;
    --content-width: clamp(375px, 100vw, 700px);
    --content-border:solid 2px #000000;
    --header-margin:100px;
    --header-logo-size: clamp(49px, 9.2cqw, 65px);
    --header-logo-text-size:clamp(14px, 3.3cqw, 23px);
    --header-padding-block-preferred: 7.5em;
    --header-padding-block: clamp(118px, var(--header-padding-block-preferred), 132px);
    --text-shadow-logo:#fff;
    --page-gradient: 
        repeating-linear-gradient(
          to right,
          transparent 0px,
          transparent 2px,
         #d3d3d3 2px,
         #d3d3d3 4px),
        repeating-linear-gradient(
          to bottom,
          transparent 0px,
          transparent 2px,
          #d3d3d3 2px,
          #d3d3d3 4px),
        linear-gradient(
          to bottom,
          #e7e7e7 0%,
          #e7e7e7 0.01%,
          #1a1a1a 100%);
    --varible-temp:0;
    --color-text-btn-negative: #fff;
    --contour-color: #000;
    --sparks-color: red;
    --page-background-color: #fff;
}